<!--Movie Poster with buttons and stars-->
{{#each this}}
	{{#if added}}
	<div class="col-md-3">
		<button type="button" class="btn btn-default btn-sm 
	  		glyphicon glyphicon-trash" id="delete" yep="{{imdbID}}" aria-hidden="true">
		</button>
		{{else}}
		<div class="col-md-3 no-poster">
		{{/if}}
	{{#if Poster}}
			<img src="http://img.omdbapi.com/?i={{imdbID}}&apikey=7c212437" class="movieCast movie-posters-dimensions" alt="{{title}}" data-toggle="modal" data-target="#movieInfoModal" id="{{imdbID}}"></img>
			
		{{else}}
			<div class="movie-titles noposter movieCast" data-toggle="modal" data-target="#movieInfoModal" id="{{imdbID}}">{{Title}}</div>
			

	{{/if}}
	{{#if added}}
		{{#if watched}}
			{{!-- <div class="star-container" id="{{@key}}"> --}}
			  <span class="star-rating" id="{{@key}}">
			    <input type="radio" name="rating" value="1"><i></i>
			    <input type="radio" name="rating" value="2"><i></i>
			    <input type="radio" name="rating" value="3"><i></i>
			    <input type="radio" name="rating" value="4"><i></i>
			    <input type="radio" name="rating" value="5"><i></i>
			  </span>
			{{!-- </div>   --}}
			{{else}}
				<div type="button" class="btn btn-success watch-button" id="{{imdbID}}">Watch</div>
		{{/if}}

		{{else}}

			<div type="button" class="btn btn-warning add-button" imdb="{{imdbID}}">Add</div>
	{{/if}}

	</div>
{{/each}}